---
networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.23.0.0/16
          gateway: 172.23.0.1

volumes:
  ojs-cache: {}
  ojs-files: {}
  ojs-public: {}

secrets:
  OJS_DB_PASSWORD:
    file: ./secrets/OJS_DB_PASSWORD
  OJS_API_KEY_SECRET:
    file: ./secrets/OJS_API_KEY_SECRET
  OJS_SALT:
    file: ./secrets/OJS_SALT
  OJS_ADMIN_PASSWORD:
    file: ./secrets/OJS_ADMIN_PASSWORD
  OJS_SECRET_KEY:
    file: ./secrets/OJS_SECRET_KEY

services:
  init:
    image: islandora/base:6.0.2@sha256:9cf768c05333d1c0a8a82d2c70ff608b105477d7d26aeed0600c9804fa8e1e6a
    restart: no
    volumes:
      - ./secrets:/secrets:rw
      - ./scripts:/scripts:ro
      - ./docker-compose.yaml:/docker-compose.yaml:ro
    command: /scripts/generate-secrets.sh
    profiles: [none]
  ojs:
    image: ghcr.io/lehigh-university-libraries/ojs:main
    build: .
    restart: on-failure:3
    ports:
      - 8888:80
    environment:
      OJS_OAI_REPOSITORY_ID: ${DOMAIN:-localhost}
      OJS_ENABLE_BEACON: 1
      DB_HOST: ${DB_HOST:-mariadb}
      OJS_SMTP_SERVER: ${OJS_SMTP_SERVER:-}
      OJS_ENABLE_HTTPS: "true"
      OJS_BASE_URL: "https://${DOMAIN:-localhost}"
    networks:
      - default
    secrets:
      - source: OJS_API_KEY_SECRET
      - source: OJS_SECRET_KEY
      - source: OJS_DB_PASSWORD
        target: DB_PASSWORD
      - source: OJS_SALT
      - source: OJS_ADMIN_PASSWORD
    volumes:
      - ojs-cache:/var/www/ojs/cache:rw
      - ojs-files:/var/www/files:rw
      - ojs-public:/var/www/ojs/public:rw
