volumes:
  mariadb-data: {}

secrets:
  DB_ROOT_PASSWORD:
    file: ./secrets/DB_ROOT_PASSWORD
services:
  init:
    volumes:
      - ./docker-compose.override.yaml:/docker-compose.override.yaml:ro
  ojs:
    environment:
      OJS_ENABLE_HTTPS: "false"
      OJS_BASE_URL: http://localhost:8888
    volumes:
      - ./rootfs/var/www/ojs/plugins/themes/lrsj:/var/www/ojs/plugins/themes/lrsj:ro
      - ./rootfs/var/www/ojs/plugins/themes/lehigh:/var/www/ojs/plugins/themes/lehigh:ro
    secrets:
      - source: DB_ROOT_PASSWORD
    depends_on:
      mariadb:
        condition: service_started
  mariadb:
    image: islandora/mariadb:6.3.3@sha256:d702abb4853e1fec4cde78541adfac1204b25771903e07202c3f1b2c04f66b46
    ports:
      - 3366:3306
    volumes:
      - mariadb-data:/var/lib/mysql:rw
    secrets:
      - source: DB_ROOT_PASSWORD
