---
networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.23.0.0/16
          gateway: 172.23.0.1

volumes:
  ojs-cache: {}
  ojs-files: {}
  ojs-public: {}

secrets:
  OJS_DB_PASSWORD:
    file: ./secrets/OJS_DB_PASSWORD
  OJS_API_KEY_SECRET:
    file: ./secrets/OJS_API_KEY_SECRET
  OJS_SALT:
    file: ./secrets/OJS_SALT
  OJS_ADMIN_PASSWORD:
    file: ./secrets/OJS_ADMIN_PASSWORD
  OJS_SECRET_KEY:
    file: ./secrets/OJS_SECRET_KEY

services:
  init:
    image: islandora/base:6.3.3@sha256:2e2e5c955c3320fb4656fe53c18d99eae029415120ff9eb351b2292c0de2df98
    restart: no
    volumes:
      - ./secrets:/secrets:rw
      - ./scripts:/scripts:ro
      - ./docker-compose.yaml:/docker-compose.yaml:ro
    command: /scripts/generate-secrets.sh
    profiles: [none]
  ojs:
    image: ghcr.io/lehigh-university-libraries/ojs:main
    build: .
    restart: on-failure:3
    environment:
      OJS_OAI_REPOSITORY_ID: ${DOMAIN:-localhost}
      OJS_ENABLE_BEACON: 1
      DB_HOST: ${DB_HOST:-mariadb}
      OJS_SMTP_SERVER: ${OJS_SMTP_SERVER:-}
      OJS_ENABLE_HTTPS: "true"
      OJS_BASE_URL: "https://${DOMAIN:-localhost}"
    networks:
      - default
    secrets:
      - source: OJS_API_KEY_SECRET
      - source: OJS_SECRET_KEY
      - source: OJS_DB_PASSWORD
        target: DB_PASSWORD
      - source: OJS_SALT
      - source: OJS_ADMIN_PASSWORD
    volumes:
      - ojs-cache:/var/www/ojs/cache:rw
      - ojs-files:/var/www/files:rw
      - ojs-public:/var/www/ojs/public:rw
  traefik:
    image: traefik:v3.6.7@sha256:a9890c898f379c1905ee5b28342f6b408dc863f08db2dab20e46c267d1ff463a
    restart: always
    command: >-
      --api.insecure=true
      --api.dashboard=true
      --api.debug=true
      --ping=true
      --entryPoints.http.address=:80
      --entryPoints.http.forwardedHeaders.trustedIPs=172.0.0.0/8
      --entryPoints.http.transport.respondingTimeouts.readTimeout=3600
      --providers.file.filename=/etc/traefik/config.yaml
      --providers.file.watch=true
      --providers.docker=true
      --providers.docker.network=default
      --providers.docker.exposedByDefault=false
      --experimental.localPlugins.captcha-protect.moduleName=github.com/libops/captcha-protect
    environment:
      TURNSTILE_PUBLIC_KEY: ${TURNSTILE_PUBLIC_KEY:-}
      TURNSTILE_PRIVATE_KEY: ${TURNSTILE_PRIVATE_KEY:-}
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
    ports:
      - 8888:80
    volumes:
      - ./conf/traefik/plugins/captcha-protect:/plugins-local/src/github.com/libops/captcha-protect:r
      - ./conf/traefik/config.tmpl:/etc/traefik/config.yaml:ro
      - ./conf/traefik/challenge.tmpl.html:/challenge.tmpl.html:ro
      - /var/run/docker.sock:/var/run/docker.sock:z
      - ./tmp/traefik:/tmp:rw
    healthcheck:
      test: traefik healthcheck --ping
      start_period: 5s
